.ant-table{
	background: none;
}

.ant-table-container{
	padding: 20px;
	background: white;
}

.ant-table-title{
	margin-bottom: 14px!important;
	background: rgba(255,255,255,0.65);
}

.ant-table-footer{
	margin-top: 14px!important;
	background: rgba(255,255,255,0.65);
}